{% extends 'layout.html.twig' %}

{% block body %}

<div role="main" class="main-content">

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Ticket Edition</h1>
    <p>Formulaire d'edition de ticket</p>
    <div class="information_header">
      {{ form_start(delete_form) }}
          <input type="submit" class="btn btn-danger" value="Delete">
      {{ form_end(delete_form) }}
      <h2 class="sub-header">Formulaire d'édition</h2>
    </div>

    <form method="post" name="appbundle_ticket" class="form-horizontal">
      <div class="form-group">
        <label class="required col-sm-2 control-label">Numéro</label>
        <div class="col-sm-10">
          {{ form_widget(edit_form.ticketNum , { 'attr': {'class': 'form-control'} }) }}
          {% if form_errors(edit_form.ticketNum) %}
            <div class="row">
              <div class="col-md-6 offset-md-3 error_form">
                <span><button type="button" class="btn btn-danger btn-xs">Error</button>{{ form_errors(edit_form.ticketNum) }}</span>
              </div><br/>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="form-group">
        <label class="required col-sm-2 control-label">Nom</label>
        <div class="col-sm-10">
          {{ form_widget(edit_form.ticketName , { 'attr': {'class': 'form-control'} }) }}
          {% if form_errors(edit_form.ticketName) %}
            <div class="row">
              <div class="col-md-6 offset-md-3 error_form">
                <span><button type="button" class="btn btn-danger btn-xs">Error</button>{{ form_errors(edit_form.ticketName) }}</span>
              </div><br/>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="form-group">
        <label class="required col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          {{ form_widget(edit_form.ticketDescription , { 'attr': {'class': 'form-control'} }) }}
          {% if form_errors(edit_form.ticketDescription) %}
            <div class="row">
              <div class="col-md-6 offset-md-3 error_form">
                <span><button type="button" class="btn btn-danger btn-xs">Error</button>{{ form_errors(edit_form.ticketDescription) }}</span>
              </div><br/>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="form-group">
        <label class="required col-sm-2 control-label">Equipe</label>
        <div class="col-sm-10">
          {{ form_widget(edit_form.ticketSquad  , { 'attr': {'class': 'selectpicker'} }) }}
          {% if form_errors(edit_form.ticketSquad) %}
            <div class="row">
              <div class="col-md-6 offset-md-3 error_form">
                <span><button type="button" class="btn btn-danger btn-xs">Error</button>{{ form_errors(edit_form.ticketSquad) }}</span>
              </div><br/>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="form-group">
        <label class="required col-sm-2 control-label">Client</label>
        <div class="col-sm-10">
          {{ form_widget(edit_form.ticketCustomer , { 'attr': {'class': 'selectpicker'} }) }}
          {% if form_errors(edit_form.ticketCustomer) %}
            <div class="row">
              <div class="col-md-6 offset-md-3 error_form">
                <span><button type="button" class="btn btn-danger btn-xs">Error</button>{{ form_errors(edit_form.ticketCustomer) }}</span>
              </div><br/>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="form-group">
        <label class="required col-sm-2 control-label">Responsable</label>
        <div class="col-sm-10">
          {{ form_widget(edit_form.ticketUserManager  , { 'attr': {'class': 'selectpicker'} }) }}
          {% if form_errors(edit_form.ticketUserManager) %}
            <div class="row">
              <div class="col-md-6 offset-md-3 error_form">
                <span><button type="button" class="btn btn-danger btn-xs">Error</button>{{ form_errors(edit_form.ticketUserManager) }}</span>
              </div><br/>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="form-group">
        <label class="required col-sm-2 control-label">Priorité</label>
        <div class="col-sm-10">
          {{ form_widget(edit_form.ticketPriority , { 'attr': {'class': 'selectpicker'} }) }}
          {% if form_errors(edit_form.ticketPriority) %}
            <div class="row">
              <div class="col-md-6 offset-md-3 error_form">
                <span><button type="button" class="btn btn-danger btn-xs">Error</button>{{ form_errors(edit_form.ticketPriority) }}</span>
              </div><br/>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="submit" class="btn btn-primary blue" value="Create" />
        </div>
      </div>
      {{ form_widget(edit_form.ticketDateStart , { 'attr': {'class': 'hidden'} }) }}
      {{ form_widget(edit_form.ticketUserOwner , { 'attr': {'class': 'hidden'} }) }}
      {{ form_row(edit_form._token) }}
      </form>  </div>
</div>

{% endblock %}
